<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>极验验证</title>
    <style>
        body {
            margin: 50px 0;
            text-align: center;
        }
        .inp {
            border: 1px solid gray;
            padding: 0 10px;
            width: 200px;
            height: 30px;
            font-size: 18px;
        }
        .btn {
            border: 1px solid gray;
            width: 100px;
            height: 30px;
            font-size: 18px;
            cursor: pointer;
        }
        #embed-captcha {
            width: 300px;
            margin: 0 auto;
        }
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
        #notice {
            color: red;
        }
    </style>
</head>
<body>
<form class="popup" method="post">
    <br>
    <p>
        <label for="username2">用户名：</label>
        <input class="inp" id="username2" type="text" value="极验验证" name="user_name">
    </p>
    <br>
    <p>
        <label for="password2">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
        <input class="inp" id="password2" type="password" value="123456">
    </p>

    <div id="embed-captcha"></div>
    <p id="wait" class="show">正在加载验证码......</p>
    <p id="notice" class="hide">请先完成验证</p>

    <br>
    <input class="btn" id="embed-submit" type="button" value="提交">
</form>
<script src="__STATIC__/js/gt.js"></script>
<script src="__STATIC__/js/jquery-3.2.1.min.js"></script>
<script>
    var handlerEmbed = function (captchaObj) {
        $("#embed-submit").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();
            }
        });
        // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        // 获取id，challenge，success（是否启用failback）
        url: "{:url('geetest/geetest/starCaptcha')}" + '?t=' + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            console.log(data);
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                new_captcha: data.new_captcha,
                product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerEmbed);
        }
    });
    $('#embed-submit').click(function () {
        var obj = $('form').serializeArray();
        var post_datas = new Object();
        $.each(obj,function (i,d) {
            post_datas[d['name']] = d['value'];
        });
        $.post('{:url("login/login")}',post_datas,function (result) {
            if (result == 'success'){
                // 获取名为PHPSESSID的cookie
                var m_session = getCookie('PHPSESSID');
                // 设置PHPSESSID有效期为36000毫秒
                setCookie('PHPSESSID',m_session,36000);
                window.location.href = '{:url("login/getSession")}'
            }else {
                alert('失败');
            }
        })
    });

    /**
     * 设置cookie
     * @param c_name cookie名称
     * @param value  cookie的值
     * @param time   cookie有效期
     */
    function setCookie(c_name, value, time) {
        //设置cookie
        var exp = new Date();
        exp.setTime(exp.getTime() + time);
        document.cookie = c_name + "=" + escape(value) + ";expires =" + exp.toGMTString();
    }

    /**
     * 获取cookie
     * @param c_name     cookie名称
     * @returns {string} cookie的值
     */
    function getCookie(c_name) { //获取cookie
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return encodeURIComponent(document.cookie.substring(c_start, c_end));
            }
        }
        return ""
    }
</script>
</body>
</html>